#card-header {
  /* padding-right: 15px; */
  padding-top: 5px;
}

.App {
  /* text-align: center; */
  width: 350px;
}

.truncText {
  overflow: hidden;
  /* white-space: nowrap; */
  text-align: left;
  text-overflow: ellipsis;
}

.truncText:hover{
  overflow: visible;
  white-space: normal;
  height:auto;
}

.errorText {
  color: red;
}

.successText {
  color: green;
}
